/* Fonts */
@font-face {
  font-family: "Cairo Play";
  src: url("../fonts/CairoPlay-VariableFont.ttf");
}

:root {
  --blue: #5271ff;
  --black: #1a1a1a;
  --white: #fff;

  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  --text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --tr-color: 0.3s color ease;
  --tr-bgcolor: 0.3s background-color ease;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Cairo Play";
}

html {
  direction: rtl;
}

body {
  background-color: var(--white);
  color: var(--black);
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

/* header */
.header {
  width: 100%;
  position: fixed;
  background-color: #f9f9f9;
  box-shadow: var(--box-shadow);
  transition: var(--tr-bgcolor);
  .header-content {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      & a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      & img {
        width: 50px;
      }
    }
    .navbar {
      display: flex;
      gap: 50px;
      .nav-link {
        color: var(--black);
        font-weight: 700;
        font-size: 18px;
        text-shadow: var(--text-shadow);
        transition: var(--tr-color);
        &:hover {
          color: var(--blue);
        }
      }
    }
    .actions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      & a {
        color: var(--black);
        font-weight: 700;
        border: 2px solid var(--blue);
        padding: 0 0.5rem;
        height: 32px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        text-shadow: var(--shadow);
        transition: var(--tr-color);
        &:hover {
          color: var(--blue);
        }
      }
      .toggleDarkOrLight {
        cursor: pointer;
        width: 32px;
        height: 32px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        border: 0;
        background-color: var(--blue);
        color: var(--white);
        border-radius: 5px;
        text-shadow: var(--shadow);
      }
    }
  }
}
/* end header */

/* landing */
.landing {
  .landing-content {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    .profile {
      width: 150px;
      border-radius: 50%;
    }
  }
}
/* end landing */
