/* [ Fonts ] */
@font-face {
  font-family: "DG Baysan";
  src: url(../fonts/DG-Baysan-Regular.ttf);
}
@font-face {
  font-family: "DG Kufi";
  src: url(../fonts/DG-Kufi.ttf);
}

/* [ Global Rules ] */
:root {
  --royalBlue: #5271ff;
  --black-333: #333333;
  --gray-ddd: #dddddd;
  --gray-ef: #efefef;
  --white: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}
html {
  direction: rtl;
}
body {
  height: 100svh;
  background-color: var(--gray-ef);
  font-family: "DG Baysan";
  color: var(--black-333);
}
section {
  width: 100%;
  height: 100svh;
  position: relative;
  .fa-angles-down {
    text-align: center;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateY(-50%);
    font-size: 26px;
    color: var(--black-333);
  }
}
.sec-title {
  color: var(--royalBlue);
  font-size: 38px;
  font-family: "DG Kufi";
  font-weight: normal;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 25px;
}

/* [ Header ] */
.header {
  width: 100%;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 70px;
      position: absolute;
      left: 25px;
      top: 25px;
    }
    .my-links {
      position: absolute;
      right: 25px;
      top: 25px;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
      & a {
        width: 40px;
        height: 40px;
        font-size: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: var(--black-333);
      }
    }
  }
}

/* [ Landing ] */
.landing {
  .landing-content {
    height: 100svh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    .my-name {
      font-family: "DG Kufi";
      font-weight: normal;
      color: var(--black-333);
      font-size: 48px;
      margin-bottom: -25px;
    }
    .my-job {
      font-weight: normal;
      color: var(--royalBlue);
      font-size: 32px;
    }
    .logo {
      position: absolute;
      z-index: -99;
      width: 300px;
      opacity: 0.05;
    }
  }
}

/* [ About ] */
.about {
  .about-content {
    height: 100svh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    .my-info {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      .profile {
        width: 300px;
      }
      .desc {
        font-size: 18px;
        width: 350px;
        line-height: 1.7;
        opacity: 0.9;
      }
    }
  }
}
